<h1>About BrainFeeder</h1>
<p>BrainFeeder let's students read in school the way they read on their own today--on any device, about topics they choose, with freedom to identify what's important to them.</p>