<html>
<div class="jumbotron">
<h1>This is BrainFeeder</h1><br>
<p class="pull-left">Teachers sign up <%= link_to "here", "#", class: "btn btn-primary" %></p>
<p class="pull-right">Students sign up <%= link_to "here", "#", class: "btn btn-primary" %></p>
</div>
</html>